.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
}

.box {
  position: fixed;
  top: 20vh;
  display: flex;
  left: 35%;
  width: 400px;
  height: 200px;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5%;
}
