<div *ngIf="isAuthenticated" class="w-screen h-screen flex flex-col">
  <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-[7vh] items-center justify-between">
        <div
          class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
        >
          <div
            class="flex flex-shrink-0 items-center gap-4"
            routerLink="home"
            style="cursor: pointer"
          >
            <img
              class="h-8 w-auto"
              src="../assets/icons/burger.png"
              alt="logo"
            />
            <div class="text-navbar font-semibold">SRS pantry Wiki</div>
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <a
                routerLink="home"
                routerLinkActive="bg-gray-900 text-white"
                [routerLinkActiveOptions]="{ exact: true }"
                class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                >Home</a
              >
              <a
                routerLink="wiki"
                routerLinkActive="bg-gray-900 text-white"
                class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                >Wiki</a
              >
            </div>
          </div>
        </div>
        <div
          class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
        >
          <div class="relative ml-3 flex gap-6">
            <div class="text-white self-center font-light">
              Welcome!, {{ email | username }}
            </div>
            <div>
              <button class="btn-logout" type="button" (click)="onLogout()">
                Logout
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="h-[93vh]">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- <app-alert *ngIf="fromAuth" [email]="email" (close)="onCloseAlert()"></app-alert> -->
<ng-template appPlaceholder></ng-template>
<app-auth *ngIf="!isAuthenticated" (fromAuth)="fromAuth = $event"></app-auth>
